// Cards__PublicWebStyleGuide.pdf
//  _____ _____ _____ ____  _____
// |     |  _  | __  |    \|   __|
// |   --|     |    -|  |  |__   |
// |_____|__|__|__|__|____/|_____|

$card-indicator-top: 12px !default;
$card-header-font-color: black !default;

// override angular
$card-cap-bg: $white;

// this allow to expand card vertically
bb-card, bb-card-collapsable {
  display: flex;
}

$card-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !default;
$card-half-shadow: 0 1.5px 0.5px -1px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.07), 0 0.5px 2.5px 0 rgba(0,0,0,.06) !default;

.shadow {
  box-shadow: $card-shadow;
}

.half-shadow {
  box-shadow: card-half-shadow;
}

.card {
  width: 100%;
  margin-bottom: 1rem;
  // CHANGE NOVA shadow is better
  //box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  box-shadow: $card-shadow;
  // remove border bottom, so the footer can have it's own background
  border-bottom-width: 0 !important;

  .card-header {
    border-bottom: 0;
    h2 {
      color: $card-header-font-color;
    }
  }
  .card-footer {
    border-top: 0;
  }
  .card-footer:empty {
    padding: 0;
    margin: 0;
  }
}
.card-collapsable {
  .card-header {
    cursor: pointer;
    .card-indicator {
      float: right;
      padding-top: $card-indicator-top;

      .card-opened-icon:after {
        @include fa-icon();
        content: $fa-var-angle-up;
        color: $gray-600;
        font-size: 2rem;
      }
      .card-closed-icon:after {
        @include fa-icon();
        content: $fa-var-angle-down;
        color: $card-header-font-color;
        font-size: 2rem;
      }
    }
  }
}

bb-card, bb-card-collapsable {
  .card-header h2 {
    margin: 0;
  }
}

bb-card.condense {
  & .card-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}
