$form-checkbox-border-color: $blue !default;
$custom-control-indicator-checked-disabled-bg: $gray-200;

$form-checkbox-width: 1.5rem !default;
$form-checkbox-height: 1.5rem !default;

bb-check {
  & .custom-control {
    min-height: 2rem;
  }

  // extra markup for required asterisk
  & .form-control-required .custom-control-label-indicator:after {
    content: ' *';
    color: $red;
  }

  & .custom-checkbox {
    .custom-control-label {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      cursor: pointer;
    }
    // this give an extra space to click
    .custom-control-label::after {
      width: $form-checkbox-width;
      height: $form-checkbox-height;
    }

    .custom-control-label::before {
      @include border-radius(0);
    }

    .custom-control-input ~ .custom-control-label {
      &::before {
        width: $form-checkbox-width;
        height: $form-checkbox-height;
        background: none;
        border: 1px solid #D3D3D3;
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::before {
        background: none;
      }

      &::after {
        background-image: none;

        @include fa-icon();
        content: $fa-var-check;
        color: $form-checkbox-border-color;
        padding: 6px;
      }
    }

    .custom-control-input:indeterminate ~ .custom-control-label {
      &::before {
        @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
        @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
      }
      &::after {
        background-image: $custom-checkbox-indicator-icon-indeterminate;
      }
    }

    .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px $form-checkbox-border-color, 0 0 0 1.5px;
    }

  }
}
