// InputBox__PublicWebStyleGuide.pdf
//  _____ _____ _____ _____ _____ _____
// |     |   | |  _  |  |  |_   _|   __|
// |-   -| | | |   __|  |  | | | |__   |
// |_____|_|___|__|  |_____| |_| |_____|

// fix datepicker styles that collide with our color schema
datepicker {
  tbody .btn {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: $blue-white-medium;

  }
  .btn.btn-secondary,
  .btn.btn-secondary:active {
    background-color: transparent !important;
    color: black !important;
  }
}

bb-datepicker {
  datepicker {
    .card {
      margin-bottom: 0 !important;
      border-radius: 0 !important;
      box-shadow: none;
      border: 0;
    }
  }

  .tooltip {
    pointer-events: auto; //all
  }

  .tooltip-inner {
    box-shadow: $card-shadow;
    color: inherit !important;
    max-width: none !important;
    background-color: white !important;
    padding: 4px !important;
  }
  .tooltip.show {
    opacity: 1;
  }
}

