<h1>
  Radios
  <a href="https://getbootstrap.com/docs/4.0/components/forms/#checkboxes-and-radios" target="_blank">
    <i class="fa fa-external-link" aria-hidden="true"></i>
  </a>
</h1>

<h5>Mix values types</h5>

<pre>model: {{radios.mixValues | json}}</pre>

<div class="form-group">
  <bb-radio
    name="mixValues"
    [(ngModel)]="radios.mixValues"
    value="1">1 as string</bb-radio>
  <bb-radio
    name="mixValues"
    [(ngModel)]="radios.mixValues"
    [value]="1">1 as number</bb-radio>
  <bb-radio
    name="mixValues"
    [(ngModel)]="radios.mixValues"
    [value]="true">true as boolean</bb-radio>
  <bb-radio
    name="mixValues"
    [(ngModel)]="radios.mixValues"
    value="hell">hell as string</bb-radio>
  <bb-radio
    name="mixValues"
    [(ngModel)]="radios.mixValues"
    disabled="disabled"
    [value]="4">Disabled</bb-radio>
</div>

<h5>Style: Inline</h5>

<pre>model: {{radios.inlineRadio | json}}</pre>

<div class="form-group d-flex">
  <bb-radio
    name="inlineRadio"
    [(ngModel)]="radios.inlineRadio"
    [value]="1">1</bb-radio>
  <bb-radio
    name="inlineRadio"
    [(ngModel)]="radios.inlineRadio"
    [value]="2">2</bb-radio>
  <bb-radio
    name="inlineRadio"
    [(ngModel)]="radios.inlineRadio"
    [value]="3">3</bb-radio>
</div>


<h5>Disabled</h5>

<pre>model: {{radios.disabledRadio | json}}</pre>

<div class="form-group d-flex">
  <bb-radio
    name="disabledRadio"
    [(ngModel)]="radios.disabledRadio"
    [disabled]="true"
    [value]="1">1</bb-radio>
  <bb-radio
    name="disabledRadio"
    [(ngModel)]="radios.disabledRadio"
    [disabled]="true"
    [value]="2">2</bb-radio>
  <bb-radio
    name="disabledRadio"
    [(ngModel)]="radios.disabledRadio"
    [disabled]="true"
    [value]="3">3</bb-radio>
</div>


<h5>Required</h5>

<!-- TODO required radios in red! -->
<form #radioForm="ngForm">
<pre>
radioForm.valid: {{radioForm.valid | json}}
model: {{radios.required | json}}
</pre>

<bb-radio
  name="requiredRadio"
  [(ngModel)]="radios.requiredRadio"
  required="required"
  value="1">1 as string</bb-radio>
<bb-radio
  name="requiredRadio"
  [(ngModel)]="radios.requiredRadio"
  required="required"
  value="2">2 as string</bb-radio>

<bb-button
  [disabled]="!radioForm.valid">Valid?</bb-button>
</form>

