<h1><a href="https://github.com/llafuente/angular-bootstrap-ui/blob/master/src/components/breadcrumb/README.md" target="_blank">bb-breadcrumb</a></h1>

<h3>Navigation example</h3>

<div>
  <button class="btn" [routerLink]="['/breadcrumb']">breadcrumb root</button>

  <h4>Normal navigation</h4>
  <button class="btn" [routerLink]="['/breadcrumb/level-1a']">breadcrumb level 1 A</button>
  <button class="btn" [routerLink]="['/breadcrumb/level-1a/level-2']">breadcrumb - level 1 A - level-2</button>

  <h4>Navigation with gaps</h4>
  <button class="btn" [routerLink]="['/breadcrumb/level-1b/level-2']">breadcrumb - level 1 B - level-2</button>

  <h4>Long labels</h4>
  <button class="btn" [routerLink]="['/breadcrumb/level-1c']">breadcrumb - level C</button>
  <button class="btn" [routerLink]="['/breadcrumb/level-1c/level-2']">breadcrumb - level C - level 2</button>

  <h4>Function label</h4>
  <button class="btn" [routerLink]="['/breadcrumb/complex']">breadcrumb - complex</button>
</div>

<hr />


<h3>bb-breadcrumb</h3>
<bb-breadcrumb></bb-breadcrumb>


<h3>bb-breadcrumb ignoredLevels=1</h3>
<bb-breadcrumb [ignoredLevels]="1"></bb-breadcrumb>

<h3>bb-breadcrumb ignoredLevels=2</h3>
<bb-breadcrumb [ignoredLevels]="2"></bb-breadcrumb>

<hr />

<router-outlet></router-outlet>
